.nav{
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
    width: 100%;
    height: 150px;
    background-color: black;

}

.title{
    font-family:'Bungee Shade', cursive;
    color: white;
    font-size: xx-large;
    padding-left: 20px;
    
}

.name-container{
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
    background: black;
    width: auto;
    height: 600px;
}

.name-list{
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
    background: white;
    width: 600px;
    height: 600px;
}