.nav{
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
    width: 100%;
    height: 125px;
    background-color: black;

}

.title{
    font-family:'Bungee Shade', cursive;
    color: white;
    font-size: 100px;
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12)
    
}

.sw{
    transform: rotate(1deg) translateX(180px);
}



.name-container{
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
    background: black;
    width: auto;
    height: 635px;
}

.name-list{
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
    border: 1px solid black;
    background: rgb(241, 227, 29);
    width: 600px;
    height: 500px;
}


.project-creator{
    color: white;
    padding: 1px;
    background-color: black;
    font-size: small;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}